body {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  h1 {
    display: block;
    width: 232px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-family:'Great Vibes', cursive;
    color: white;
    text-align: center;
  }
  p {
    display: block;
    width: 285px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    text-align: center;
  }
  .button {
    display: block;
    width: 118px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
  }
  .jumbotron {
    height: 300px;
    background-image: url('../images/wallhaven_blur.jpg');
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: black 1px 1px 3px 0px;
  }
  .navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    height: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .navbutton {
    height: 45px;
  }
  .about {
    position: relative;
    left: 0px;
    top: 6px;
    right: 2px;
    bottom: 0px;
    padding-left: 16px;
    background-image: url('../images/question.svg');
    background-position: 0px 50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    font-family: Lato, sans-serif;
    color: white;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
  }
  .textcontainer {
    padding-top: 33px;
  }
  .icon {
    position: relative;
    left: auto;
    top: 0px;
    right: auto;
    bottom: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .photocontainer {
    padding: 12px;
    background-color: white;
  }
  .imagecontainer {
    height: 284px;
    padding: 0px;
    box-shadow: black 0px 0px 6px 0px;
  }
  .imagesection {
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
  }
  .buttons {
    position: static;
    bottom: auto;
  }
  .controler {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #2b2b2b;
    text-align: center;
    text-decoration: none;
  }
  .controlericon {
    display: block;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}