<div class="jumbotron">
    <div class="w-nav nav-bar" data-collapse="none" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container menu-container">
        <nav class="w-nav-menu w-clearfix nav-menu" role="navigation"><a class="w-nav-link nav-link" href="#/settings">Settings</a><a class="w-nav-link nav-link" href="#/ency">Ency</a><a class="w-nav-link nav-link" href="#/home">Home</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="ency-section">
    <div class="w-container ency-container">
      <h1 class="ency-title">What is Aperture, Shutter Speed, and ISO?&nbsp;</h1><img class="camera-xray" src="images/camera_ma.svg" width="444" alt="54d16943761b318d2bfeab01_camera_ma.svg">
      <p class="ency-text">Aperture refers to the opening of a lens's diaphragm through which light passes.
      It is calibrated in f/stops and is generally written as numbers such as 1.4, 2, 2.8, 4, 5.6, 8, 11 and 16.
      The lower f/stops give more exposure because they represent the larger apertures, while the higher f/stops give less exposure because they represent smaller apertures.</p><br>
      <p class="ency-text">Shutter speed is the length of time a camera shutter is open to expose light when taking an image. If shutter speed is fast, it can help freeze action completely.
        If the shutter speed is low, it can create blur effects where moving objects appear blurred along the direction of motion.</p><br>
        <p class="ency-text">ISO is short for International Standards Organization which measures the sensitivity of the image sensor.
          The lower the number the less sensitive your camera is to light and the finer the grain. A higher ISO setting is normally used in darker situation.
        </p>
    </div>
  </div>
  <div class="footer">
    <div class="w-container footer-container">
      <div class="footer-text">© 2015 Made by Marcus &amp; Joey</div>
      </div>
    </div>