<div class="jumbotron">
    <div class="w-nav nav-bar" data-collapse="none" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container menu-container">
        <nav class="w-nav-menu w-clearfix nav-menu" role="navigation"><a class="w-nav-link nav-link" href="#/settings">Settings</a><a class="w-nav-link nav-link" href="#/ency">Ency</a><a class="w-nav-link nav-link" href="#/home">Home</a>
        </nav>
      </div>
    </div>
    <p class="list-text">Check out the settings you just saved</p>
  </div>
  <div class="simulator-section listpage">
    <div class="w-container simulator-container" ng-repeat="src in savelist">
      <div class="section-inside">
        <div class="slider-div">
        {{src.settings}}
        </div>
        <img class="image" ng-src="{{src.filename}}">
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="w-container footer-container">
      <div class="footer-text">© 2015 Made by Marcus &amp; Joey</div>
    </div>
  </div>
<script>

</script>